{
  "presets": ["next/babel", "@babel/preset-typescript"],
  "plugins": [
    "@babel/plugin-proposal-do-expressions",
    ["@babel/plugin-proposal-class-properties", { "loose": false }]
  ],
  "exclude": ["/node_modules/", "./next.config.js"]
}
