{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:import/typescript",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "@typescript-eslint", // yarn module "@typescript-eslint/eslint-plugin"
    "react", // yarn module "eslint-plugin-react"
    "react-hooks", // yarn module "eslint-plugin-react-hooks"
    // ESLint code formatting plugin
    "prettier", // yarn module "eslint-plugin-prettier"
    "jest",
    "import" // yarn module "eslint-plugin-import"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "es2021": true,
    "jest": true,
    "node": true
  },
  "root": true,
  "rules": {
    "react/require-default-props": "off",
    "no-plusplus": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "func-names": "off",
    "react/display-name": "off",
    "linebreak-style": "off",
    "unicorn/prevent-abbreviations": "off",
    "no-debugger": "off",
    "no-console": 0,
    "function-paren-newline": "off",
    "no-confusing-arrow": "off",
    "react-hooks/rules-of-hooks": "off",
    "global-require": "off",
    "no-shadow": "off",
    "implicit-arrow-linebreak": "off",
    "import/extensions": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "object-curly-newline": "off",
    "operator-linebreak": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "react/jsx-props-no-spreading": "off",
    "react/prop-types": "off",
    "react-hooks/exhaustive-deps": "off",
    "import/prefer-default-export": "off",
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ],
    // "import/no-extraneous-dependencies": [
    //   "error",
    //   { "devDependencies": false, "optionalDependencies": false, "peerDependencies": false }
    // ],
    "import/no-extraneous-dependencies": "off",
    "quotes": [
      2,
      "single",
      {
        "avoidEscape": true
      }
    ],
    "react/react-in-jsx-scope": "off",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    ]
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".js", ".jsx", ".ts", ".tsx"]
    },
    "import/resolver": {
      "babel-module": {},
      "typescript": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      },
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"],
        "moduleDirectory": ["node_modules", "pages/, features/, lib/, ui/"]
      }
    },
    "react": {
      "version": "detect"
    }
  },
  "parserOptions": {
    // "createDefaultProgram": true
      "ecmaFeatures": {
          "jsx": true
      },
      // Allows for the parsing of modern ECMAScript features
      "ecmaVersion": 2020,
      // Allows for the use of imports
      "sourceType": "module",
      // https://blog.geographer.fr/eslint-parser-services, https://www.robertcooper.me/using-eslint-and-prettier-in-a-typescript-project
      "project": "./tsconfig.json"
  }
}
