{
  "semi": true,
  "bracketSpacing": true,
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "jsxBracketSameLine": false,
  "endOfLine":"auto"
}